body {
    background-color: blueviolet;
}

h1 {
    text-align: center;
    color: cornsilk;
}

p {
    text-align: center;
    color: cornsilk;
}

#output2 {
    text-align: center;
    color: cornsilk;
}

.center {
    text-align: center;
    margin: auto;
    padding: 10px;
  }