body {
    background-color: blueviolet;
}

h1 {
    text-align: center;
    color: cornsilk;
}

p {
    text-align: center;
    color: cornsilk;
}

#output2 {
    text-align: center;
    font-size: x-large;
    color: rgb(247, 194, 174);
}

#output3 {
    text-align: center;
    font-size: x-large;
    color: rgb(247, 194, 174);
}

.center {
    text-align: center;
    margin: auto;
    padding: 10px;
  }

.menu {
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }